.filter {
    font-size: 13px;
    margin: auto;
    width: 100%;
    text-align: center;
}

.filterItem {
    margin: 2%;
}

.active {
    margin: 2%;
    border-color: rgb(0, 110, 255);
}

.w-70 {
    width: 70% !important;
}

.gridItem {
    height: 78vh;
    overflow-y: auto;
}