.filter {
    flex-direction: row;
    font-size: 13px;
    margin: 5%;
    margin-top: 3%;
    margin-left: 17%;
    margin-bottom: -2%;
}

.filterItem {
    margin: 2%;
}

.active {
    margin: 2%;
    border-color: rgb(0, 110, 255);
}