.headerUl {
    list-style-type: none;
    margin: 0;
    margin-bottom: 2%;
    overflow: hidden;
    background-color: white;
    flex-direction: right;
}

.headerUl li {
    float: right;
    margin-right: 3%;
}

.headerUl a {
    display: block;
    color: #1B1725;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: large;
}

.headerUl {
    height: 18vh;
}

.Logo {
    height: 7vmin;
    padding-left: 3%;
}

.Header {
    flex-direction: row;
}
