ul {
    list-style-type: none;
    margin: 0;
    padding: 2%;
    overflow: hidden;
    background-color: white;
    flex-direction: right;
    padding-right: 6%;
}

li {
    float: right;
    padding-left: 3%;
}

li a {
    display: block;
    color: #1B1725;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: x-large;
}

.Logo {
    height: 7vmin;
    padding-left: 3%;
}

.Header {
    flex-direction: row;
}
