.planner-header{
    text-align:center;
    font-family: sans-serif;
}
#planner-header{
    margin-top:1rem;
    border-bottom: 1px solid black;
}
#header-title{
    display:flex;
    justify-content: center;
}
#planner-title{
    font-size: 2rem;
    width: fit-content;
    margin-right: 1rem;
}

#planner-date{
    font-size: 1rem;
}

#planner-total-cost{
    font-size: 1rem;

}