section#greet_user{
    display:flex;    
    justify-content: center;
}
h1.greet_user{
    width:fit-content;
    margin-right: 0.8rem;
}
section#account-divider{
    display:flex;
}
section#account-plan-list{
    width: 100%;
    padding: 1rem 1rem;
    min-height:73vh;
}
div.account-button-group{
    justify-content: space-evenly;
}

section#account-container{
    padding-top:1rem;
    display: flex;
    flex-direction: column;
}

ul#user-plans-group{
    float: left;
    display: flex;
    width: 100%;
    list-style: None;
    margin: 1rem 0;
}