#Planner-container{
    display:flex;
    flex-direction: row;
    height: -webkit-fill-available;
}

#planner-main{
    width: 100%;
    padding: 1rem 1rem;
    border-left: 2px solid black;
    height: -webkit-fill-available;
}